In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
raw = pd.read_csv('Trading_Project_Data.csv', index_col = 0, parse_dates = True, header=1)

names = ['AAPL', 'MSFT', 'GOOGL', 'NVDA', 'TSLA', 'JNJ', 'PFE', 'UNH', 'XOM', 'CVX', 'JPM', 'GS', 'AMZN', 'WMT', 'KO', 'NKE', 'BA', 'CAT', 'SOFI']

raw

/var/folders/2j/h6y_zlpd5sq1fhr8v9460g600000gn/T/ipykernel_60469/593310441.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  raw = pd.read_csv('Trading_Project_Data.csv', index_col = 0, parse_dates = True, header=1)

,AAPL,AMZN,BA,CAT,CVX,GOOGL,GS,JNJ,JPM,KO,...,MCD.6,MSFT.6,NKE.6,NVDA.6,PFE.6,SOFI.6,TSLA.6,UNH.6,WMT.6,XOM.6
Ticker,,,,,,,,,,,,,,,,,,,,,
Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22/1/2024,192.944748,154.779999,214.929993,284.386902,136.604904,145.462692,376.831573,157.484207,166.308197,57.804554,...,3250200.0,27016900.0,9897400.0,452955000.0,41663900.0,69046700.0,117952500.0,5922900.0,13938300.0,19955900.0
23/1/2024,194.228455,156.020004,211.500000,284.544495,136.221420,146.508896,371.764343,154.905838,165.213226,58.076252,...,1874000.0,20525900.0,8208000.0,294654000.0,33466700.0,45600700.0,106605900.0,2672900.0,12066600.0,15863400.0
24/1/2024,193.551773,156.869995,214.130005,286.367065,138.934540,148.162903,370.426758,154.081940,166.689453,57.164120,...,3209700.0,24867000.0,7879300.0,560271000.0,42720700.0,41431000.0,123369900.0,2918800.0,22932900.0,17330600.0
25/1/2024,193.223389,157.750000,201.880005,296.307312,142.433807,151.321442,373.648712,154.663498,169.074951,57.406708,...,3219600.0,21021200.0,10063700.0,482777000.0,47605500.0,49509400.0,198076800.0,14671000.0,16369500.0,22089500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14/1/2025,233.279999,217.759995,167.020004,370.212799,156.899994,189.660004,571.530029,144.750000,247.470001,62.040001,...,2238900.0,16935900.0,16732900.0,195590500.0,25856900.0,34100800.0,84565000.0,3978300.0,13549200.0,11191200.0
15/1/2025,237.869995,223.350006,166.199997,373.520691,158.330002,195.550003,605.919983,144.970001,252.350006,61.770000,...,2867800.0,19637800.0,13468100.0,185217300.0,35949700.0,38873100.0,81375500.0,4103900.0,17348200.0,14521100.0
16/1/2025,228.259995,220.660004,168.929993,379.159973,159.380005,192.910004,612.989990,147.770004,254.270004,62.250000,...,3403700.0,15300000.0,13694600.0,209235600.0,29981100.0,43586900.0,68335200.0,9059900.0,13267700.0,10366600.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
prices =

TypeError: no numeric data to plot